html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.button-area {
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 100%;
  cursor: pointer;
}

#empty-area {

}
#empty-area:hover .fake-button {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
}

#fill-area {
  right: 0;
}
#fill-area:hover .fake-button {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
}

.fake-button {
  margin-top: 30px;
  background: none!important;
  border: none;
  padding: 0!important;

  /* TODO style font ... */
  font-size: 25pt;
}

#empty-button {
  color: white;
  float: left;
  margin-left: 40px;
}
#fill-button {
  color: black;
  float: right;
  margin-right: 40px;
}

