@font-face {
  font-family: 'PPNeueMontreal-Medium';
  src:  url('assets/fonts/PPNeueMontreal/PPNeueMontreal-Medium.woff2') format('woff2'),
        url('assets/fonts/PPNeueMontreal/PPNeueMontreal-Medium.woff') format('woff');
}
@font-face {
  font-family: 'PPNeueMontreal-Regular';
  src:  url('assets/fonts/PPNeueMontreal/PPNeueMontreal-Regular.woff2') format('woff2'),
  url('assets/fonts/PPNeueMontreal/PPNeueMontreal-Regular.woff') format('woff');
}
@font-face {
  font-family: 'AzeretMono-Regular';
  src:  url('assets/fonts/AzeretMono-Regular.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: PPNeueMontreal-Regular, Arial, sans-serif;
}

canvas {
  display: block;
}

.button-area {
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 100%;
  cursor: default;
}
#empty-area {
  right: 0;
}
#empty-area:hover .fake-button {
  /*text-decoration: underline;*/
  /*text-decoration-color: white;*/
  text-decoration-thickness: 2px;
  font-family: PPNeueMontreal-Medium, Arial, sans-serif;
  letter-spacing: 6px;
}

#fill-area {

}
#fill-area:hover .fake-button {
  /* text-decoration: underline; */
  /*text-decoration-color: black;*/
  /* text-decoration-thickness: 2px; */
  font-family: PPNeueMontreal-Medium, Arial, sans-serif;
  letter-spacing: 6px;
}

.fake-button {
  margin-top: 30px;
  background: none!important;
  border: none;
  padding: 0!important;
  font-size: 25pt;
}

#fill-button {
  color: white;
  float: left;
  margin-left: 40px;
}
#empty-button {
  color: black;
  float: right;
  margin-right: 40px;
}

#endscreen{
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  position: absolute;
  justify-content: center;
  align-items: center;
}
#endscreen.lung-was-to-full {
  background-color: black;
}
#endscreen.lung-was-to-empty {
  background-color: white;
}

#countdown {
  position: relative;
  font-size: 16vw;
  font-family: AzeretMono-Regular, monospace;
}
.lung-was-to-full #countdown {
  color: white;
}
.lung-was-to-empty #countdown {
  color: black;
}

#endscreen .about-link {
  position: absolute;
  bottom: 35px;
  right: 43px;
}
#endscreen .about-link a {
  font-size: 15pt;
  text-decoration: none;
  display: none;
}
#endscreen .about-link .to-full-link {
  color: white;
}
#endscreen .about-link .to-empty-link {
  color: black;
}
#endscreen.lung-was-to-full .about-link .to-full-link {
  display: inline;
}
#endscreen.lung-was-to-empty .about-link .to-empty-link {
  display: inline;
}


#absolute {
  position: absolute;
  bottom: 0;
}

.blur {
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
}